{% extends 'base.html'%}
{% block content %}
 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
 </head>
<body>
  <br>
  <br>
  <h1 style="text-align:center;" class="text-uppercase">{{categ}} NEWS </h1>
    <div class="container">
      <div class="card-columns">
        {% for category in category %}

        <div class="card">
          <img class="card" src="{{category.image}}" alt="Card image cap" size="100px180">
          <div class="card-body">
            <h5 class="card-title">{{category.author}}</h5>
            <p class="card-text">{{category.description}}</p>
            <a href="{{category.url}}">
             Click to read some more!
            </a>
          </div>
          <div class="card-footer">
            <small class="text-muted">Date published:{{category.time}}</small>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endblock %}    
 </body>
 </html>
