{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block content %}

<!-- <div class="container">
    <form>
        <input type="text" name="news_query" placeholder="Search for a Movie" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
    </form>

</div> -->

<!-- <div class="main">
    <div class="container-fluid">
      <div class="row">

        <div class="col-3">
          <div class="card-column">
            <div class="card-header">
              <h4>Browse News Sources</h4>
            </div>
            <div class="list-group list-group-flush scrolly">
              <ul>
                {% for source in sources %}
                <a href="/article/{{source.id}}">
                  <p class="text-capitalize text-muted">{{source.id}}</p>
                </a>
                {% endfor %}
              </ul>
            </div>

          </div>
        </div> -->

<!-- Popular News -->
<h3 style="text-align: center;"> General news</h3>
<ul>
    {{ macro.displayNewsList(general)}}
</ul>


{% endblock%}
