{% extends 'base.html'%}
{% import 'macros.html' as macro%}


<!-- Content block -->
{% block content %}

<!-- Popular News -->
<h3> General news</h3>
<ul>
    {{ macro.displayNewsList(general)}}
</ul>
<!-- Upcoming News  -->
<h3> Entertainment news </h3>
<ul>
    {{ macro.displayNewsList(entertainment)}}
</ul>
<!-- Now showing News-->
<h3>Sports news</h3>
<ul>
    {{ macro.displayNewsList(sports)}}
</ul>


{% endblock%}

<!-- <h1> {{ message}} </h1> -->
<!-- <body> -->
  <!-- <!-General news section  --> 
  <!-- <h3> General news</h3>
   <ul>
      {% for general_news in general %}
          <li>{{ general_news.title}}</li>
          <p>{{ general_news.description}}</p>
      {% endfor %}
  </ul>  -->


       <!-- Entertainment news section -->
       <!-- <h3> Entertainment news</h3>
       <ul>
          {% for entertainment_news in sports %}
              <li>{{ entertainment_news.title}}</li>
              <p>{{ entertainment_news.description}}</p>
          {% endfor %}
      </ul>   -->

          <!-- Sports news section -->
     <!-- <h3> Sports news</h3>
     <ul>
        {% for sports_news in sports %}
            <li>{{ sports_news.title}}</li>
            <p>{{ sports_news.description}}</p>
        {% endfor %}
    </ul>  
  </body> -->
